<div id="conversation-container" class="h-[82dvh] overflow-y-auto px-2 py-2"></div>

<div class="w-full mt-4 px-2">
  <form id="ask-form">
    <label class="input input-bordered flex items-center gap-2">
      <input type="text" id="question-input" name="question" class="grow" placeholder="Ask me anything (Press enter to send)">
      <span class="loading loading-dots loading-sm" id="question-input-loading" style="display: none;"></span>
      <kbd class="kbd kbd-sm" id="question-input-keyboard">/</kbd>
    </label>
  </form>

  <p class="text-xs text-center mt-2">Made with ❤️ by <a href="https://github.com/retry19" target="_blank" class="link link-hover">retry19</a></p>
</div>
